@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root {
    --primary-color: #3176CB;
    --white-color: #ffffff;
    --orange-color: #E75F2A;
    --yellow-color: #EFAA3F;
    --danger-color: #FF3A44;
    --green-color: #2DA771;

    --primary-text-color: #051E47;
    --secondary-text-color: #C0C7D8;
    --third-text-color: #9AA1B4;
    --four-text-color: #5D616A;

    --padding-sides: 30px;

    --position-center: center;

    --opacity-all: 0.6;
}

html {
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
a,
button {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    transition: .3s;
    color: var(--primary-text-color);
}
input:focus, textarea:focus {
    outline: none;
}
select {
    border: none;
    appearance: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin: 0;
}
p {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  padding-right: var(--padding-sides);
  padding-left: var(--padding-sides);
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
    }
  }

  .d-flex-align-center {
    display: flex;
    align-items: center;
  }
  .d-flex-al-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .gg-8 {
    grid-gap: 8px;
  }
  .gg-16 {
    grid-gap: 16px;
  }
  .gg-24 {
    grid-gap: 24px;
  }
  .gg-32 {
    grid-gap: 32px;
  }
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
/* COLS */

.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
}

.justify-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.078px;
    color: var(--primary-text-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 12px;
    transition: .3s;
}
.btn span {
  display: flex;
}
.btn-54 {
    height: 54px;
}
.btn-44 {
    height: 44px;
}
.btn-48 {
    height: 48px;
    font-size: 14px;
}
.btn-36 {
    height: 36px;
}
.btn-40 {
    height: 40px;
    font-size: 12px;
    line-height: 120%;
}
.btn-32 {
    height: 32px;
    font-size: 12px;
    line-height: 120%;
}
.btn-auto-link {
  padding: unset;
  height: auto;
}
.b-none {
  border: none;
}
.btn:hover {
    opacity: var(--opacity-all);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-secondary-nb {
    background-color: transparent;
    color: var(--primary-color);
}
.btn-secondary-hb {
    background-color: transparent;
    color: var(--primary-text-color);
}
.btn-secondary-hb:hover {
  border: 1px solid rgba(154, 161, 180, 0.3);
  opacity: 1;
}
.btn-dark {
    background-color: var(--primary-text-color);
    color: var(--white-color);
}
.btn-white {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    border-radius: 10px;
}
.btn-close {
  padding: 0;
  display: flex;
  align-items: center;
}
.btn-category {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
}
.btn-category .humburger-menu, .btn-category .humburger-menu::before, .btn-category .humburger-menu::after {
    width: 24px;
    border-radius: 10px;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--primary-text-color);
}
.btn-category .humburger-menu {
  margin: auto;
  top: 0;
  bottom: 0;
}
.btn-category .humburger-menu::before {
  content: '';
  top: 7px;
}
.btn-category .humburger-menu::after {
  content: '';
  bottom: 7px;
}

.btn-close:hover {
  opacity: .6;
}
.btn-secondary-nb:hover {
  background: rgba(49, 118, 203, 0.1);
  color: var(--primary-color);
  opacity: 1;
}

.nav-arrow {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.nav-arrow .btn-nav-arrow-left, .nav-arrow .btn-nav-arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  color: var(--primary-text-color);
}
.nav-arrow .btn-nav-arrow-left:disabled, .nav-arrow .btn-nav-arrow-right:disabled {
  color: var(--third-text-color);
}
.nav-arrow button:hover {
  opacity: .6;
}
.nav-arrow button:disabled:hover {
  opacity: 1;
}

.back-button {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--primary-text-color);
  cursor: pointer;
}
.back-button svg {
  margin-right: 12px;
}
.link-agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 124.5%;
  color: var(--third-text-color);
}
.link-agree a {
  color: var(--primary-color)
}

.text-center {
  text-align: center;
}

/* Scale */
.scale-1-5 {
  transform: scale(1.5);
}

/* Header */
.header {
  padding: 8px 0;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: white;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.down {
  top: -100px;
}
.page-wrapper {
  min-height: 80vh;
}

.row-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.row-header .col-left, .row-header .col-center, .row-header .col-right, .header-menu {
  display: flex;
  align-items: center;
}
.row-header .col-center {
  justify-content: center;
}
.row-header .col-right {
  justify-content: flex-end;
  grid-gap: 16px;
}
.header .header-menu {
  margin-left: 48px;
}
.header .header-menu .btn.active {
  background: #F5F3F3;
}

.nav .row-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav .row-nav .nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.078px;
  padding: 24px 48px 24px 0;
  color: var(--primary-text-color);
  transition: .3s;
}
.nav .nav-hover .nav-item-link .nav-link {
  color: var(--third-text-color);
}
.row-nav .nav-item-link:hover .nav-link {
  color: var(--primary-text-color);
}
.nav .row-nav .nav-subcategory {
  visibility: hidden;
  width: 100%;
  height: 0;
  max-height: 10000px;
  position: absolute;
  background: white;
  z-index: 1;
  left: 0;
  padding: 40px 0;
  opacity: 0;
}
.nav .row-nav .nav-item-link:hover .nav-subcategory {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.nav .row-nav .nav-subcategory .row-nav-subcategory {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, 24%);
  justify-content: space-between;
  grid-gap: 1%;
}
.nav .row-nav .nav-subcategory .row-nav-subcategory .nav-col {
  width: 100%;
}
.nav .nav-hover .nav-subcategory ul li .nav-sublink {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  letter-spacing: -0.078px;
  color: var(--primary-text-color);
  display: block;
}
.nav .row-nav .nav-subcategory ul li {
  margin-bottom: 12px;
  transition: .3s;
}
.nav .row-nav .nav-subcategory ul li:hover {
  margin-left: 8px;
  opacity: .6;
}
.nav .row-nav .nav-subcategory ul li:last-child {
  margin-bottom: 0;
}

/* Footer */
.footer {
  background: var(--primary-text-color);
  color: var(--white-color);
  text-align: center;
  padding: 16px 0;
}
.copyright-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F7F8FD;
}

/* Tabs */
.tabs {
  display: flex;
  align-items: center;
  grid-gap: 48px;
}
.tabs .tab-link {
  position: relative;
  cursor: pointer;
  color: var(--third-text-color);
}
.tabs .tab-link.active {
  color: var(--primary-text-color);
}
.tabs .tab-link .num {
  position: absolute;
  top: -9px;
  left: 103%;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--third-text-color);
}

/* Typography */
.title-32 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}
.h2-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.025em;
    color: var(--primary-text-color);
}
.h3-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.025em;
    color: var(--primary-text-color);
}
.h4-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}
.subtitle-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--primary-text-color);
}
.subtitle-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--primary-text-color);
}

.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }

.line-through {
  text-decoration-line: line-through;
}



.desc-list {
  display: flex;
  align-items: flex-start;
  grid-gap: 8px;
  border-bottom: 1px solid rgba(154, 161, 180, 0.3);
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
}
.desc-list:last-child {
  border-bottom: none;
}
.desc-list .left {
  width: 112px;
  color: var(--third-text-color);
}
.desc-list .right {
  width: calc(100% - 120px);
  color: var(--primary-text-color);
}
.desc-list .right a {
  font-weight: 400;
  color: var(--primary-color);
}
.desc-list .star-votes {
  margin-top: 4px;
}

/* Input group */
.form-group {
  display: flex;
  align-items: center;
}
.form-group label {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  display: block;
  width: 77px;
  margin-right: 8px;
}
.form-group input {
  background: #FFFFFF;
  border: 1px solid rgba(154, 161, 180, 0.2);
  box-shadow: 0px 2px 4px rgba(5, 30, 71, 0.02);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  padding: 17px 20px 14px;
  width: calc(100% - 85px);
  height: 48px;
}
.form-group input::placeholder {
  color: var(--third-text-color);
}

.form-group textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(154, 161, 180, 0.2);
  box-shadow: 0px 2px 4px rgba(5, 30, 71, 0.02);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  padding: 16px 20px;
  resize: none;
}
.form-group textarea::placeholder {
  color: var(--third-text-color);
}

/* Quantity */
.quantity {
  display: flex;
  align-items: center;
  border: 1px solid rgba(154, 161, 180, 0.3);
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}
.quantity .num {
  user-select: none;
}
.quantity .minus, .quantity .plus {
  transition: .3s;
  cursor: pointer;
  padding: 4px 12px;
}
.quantity .minus:hover, .quantity .plus:hover {
  opacity: .4;
}

/* Radio btn default Start*/
.radio-default {
  position: relative;
}
.radio-default label {
  padding: 8px 16px;
  grid-gap: 8px;
}
.radio-default input:checked,
.radio-default input:not(:checked) {
  visibility: hidden;
  height: 0;
  width: 0;
  display: none;
}
.radio-default input:checked + label,
.radio-default input:not(:checked) + label {
  position: relative;
  cursor: pointer;
  line-height: initial;
  display: flex;
  line-height: 24px;
  padding-left: 52px;
  color: #3f4b60;
}

.radio-default input:checked + label span,
.radio-default input:not(:checked) + label span {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
  display: flex;
}
.radio-default input:checked + label:before,
.radio-default input:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 22px;
  top: 12px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 100%;
}
.radio-default input:checked + label:before {
  border: 1px solid var(--third-text-color);
}
.radio-default input:checked + label:after,
.radio-default input:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: var(--primary-text-color);
  margin: auto;
  top: 16px;
  left: 26px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-default input:checked + label::before {
  border-color:  var(--third-text-color);
}
.radio-default input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-default input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.radio-default input:checked + label {
  background-color: white;
  border-radius: 12px;
}
.radio-default input:not(:checked) + label span.none {
  display: none;
}


/* Card */
.card {
    padding: 8px;
    display: grid;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}
.image-card {
    position: relative;
    background-color: #E6EAED;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
}
.image-card::before {
    content: "";
    display: block;
    padding-top: 70%;
}
.image-card .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60%;
    width: 80%;
}
/* .image-card .actions {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */
.image-card .favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--primary-text-color);
    transition: .3s;
}
.image-card .favorite svg {
    transform: scale(1);
    transition: .3s ease-in-out;
}
.image-card .btn-3d { 
    position: absolute;
    bottom: 8px;
    left: 8px;
    opacity: 0;
    transition: .3s;
}
.text-card {
  margin-top: 16px;
}
.text-card .info {
  margin-bottom: 16px;
}
.text-card .info h3 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}
.text-card .info .price {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    display: flex;
    grid-gap: 12px;
    margin-bottom: 12px;
}
.primary-price {
    color: var(--primary-text-color);
}
 .sale-price {
    text-decoration-line: line-through;
    color: var(--secondary-text-color);
}
.text-card .btn-action {
    opacity: 0;
    transition: .3s;
}
.card:hover .text-card .btn-action {
    opacity: 1;
    transition: .3s;
}


.card:hover {
    background-color: var(--white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
.card:hover .image-card {
  background-color: rgba(5, 30, 71, 0.3);;
}
.card:hover .image-card .btn-3d {
    opacity: 1;
}
.card:hover .image-card .favorite {
    background-color: var(--white-color);
}
.card:hover .image-card .favorite svg {
    transform: scale(1.1);
}

.card-same {
  padding: 0;
  flex: 0 0 150px;
}
.card-same:hover {
  box-shadow: none;
}
.card-same .text-card {
  margin-top: 8px;
}
.card-same .text-card .info h3 {
  font-weight: 400;
  font-size: 12px;
  color: var(--four-text-color);
  margin-bottom: 4px;
}
.card-same .text-card .info .price {
  font-size: 12px;
}
.card-same .btn {
  font-weight: 500;
  font-size: 12px;
}
.card-same .btn:hover {
  background-color: #F7F8FD;
  opacity: 1;
}
.card-same .favorite {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  transition: .3s;
}
.card-same .image-card .favorite svg {
  transition: .3s;
}
.card-same .image-card .favorite:hover svg {
  transform: scale(1.1);
}
.card-same .info {
  margin-bottom: 0;
}



/* Grid columns */
.grid-max {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 32%);
}

/* Rate and review qty */
.rate-review {
  display: flex;
  align-items: center;
  grid-gap: 12px;
}
.review-qty {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--third-text-color);
}
.review-qty.active {
  text-decoration-line: underline;
  color: var(--primary-text-color);
  cursor: pointer;
}

/* Star vote */
.star-votes {
  display: flex;
  grid-gap: 8px;
}
.star-votes svg {
  width: 22px;
  height: 22px;
}

/* Comments */
.comment-list {
  padding-top: 32px;
  border-top: 1px solid rgba(154, 161, 180, 0.3);
  margin-bottom: 32px;
}
.comment-list:last-child {
  margin-bottom: 0;
}

/* Add Comments */

.comment-product {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #E1E3E8;
}
.comment-product .img-comment-product {
  width: 115px;
  height: 76px;
  background: #E6EAED;
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.comment-product .text-comment-product {
  display: grid;
  margin-left: 20px;
  grid-gap: 8px;
  width: calc(100% - 135px);
}

.comment-added-send {
  padding: 80px 64px;
  text-align: center;
  margin: auto;
}
.comment-added-send .text {
  width: 200px;
  margin-bottom: 32px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.rate-product {
  margin-bottom: 32px;
}
.add-comment-product {
  margin-bottom: 48px;
}


.sv-20 .star-votes svg {
  width: 20px;
  height: 20px;
}
.sv-24 .star-votes svg {
  width: 24px;
  height: 24px;
}
.sv-32 .star-votes svg {
  width: 32px;
  height: 32px;
}


/* GivePremium */
.premium-active {
  display: flex;
  align-items: center;
  grid-gap: 12px;
}
.give-premium {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background: #FBEFDD;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #FF9F0A;
}
.give-premium svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
/* Breadcrumbs */
.breadcrumbs {
    display: flex;
}
.breadcrumbs a, .breadcrumbs span {
  font-weight: 400;
  font-size: 14px;
  color: var(--third-text-color);
  position: relative;
  margin-right: 10px;
  padding-right: 6px;
  user-select: none;
  transition: .3s;
}
.breadcrumbs a:hover {
  color: var(--primary-text-color);
}
.breadcrumbs a::before {
  content: '/';
  position: absolute;
  right: -4px;
  margin: auto;
  top: 0;
  bottom: 0;
}
.breadcrumbs a.active::before {
  content: unset;
}


/* Category */
.cat-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.cat-list .cat-tab {
    display: grid;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    grid-gap: 12px;
    transition: .3s;
    cursor: pointer;
}
.cat-list .cat-tab img {
  width: 86px;
  height: 86px;
  object-fit: contain;
  margin: auto;
}
.cat-list .cat-tab .cat-text {
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
  position: relative;
}
.cat-list .cat-tab .cat-text .cat-num {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--third-text-color);
  position: absolute;
  text-align: left;
  width: 30px;
  top: -14px;
  right: -20px;
}
.cat-list .cat-tab:hover {
    background-color: #F7F8FD;
}
.cat-list .cat-tab.active {
  background-color: #F7F8FD;
  border: 1px solid rgba(154, 161, 180, 0.5);
}

/* Banner */
.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: #E6E9ED;
    overflow: hidden;
}
.banner .banner-text {
  padding: 100px 85px;
  width: 50%;
}
.banner .banner-text h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.banner .banner-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.w-100-400 {
    width: 100%;
    height: 400px;
}
.w-100-300 {
    width: 100%;
    height: 300px;
}
.banner .banner-img {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    clip-path: circle(60% at 60% 50%);
}
.banner .banner-img img {
  position: absolute;
  bottom: -18%;
  left: 20%;
  right: 0;
  margin: auto;
}

.basket-empty {
  background: #F7F8FD;
  border-radius: 12px;
  padding: 90px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-body.empty {
  height: 100%;
}
.sidebar-body.empty .basket-inner-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Basket total */
.basket-total {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid var(--third-text-color);
}
.basket-total .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--third-text-color);
}


/* Basket List */
.basket-list {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.basket-list:last-child {
  margin-bottom: 0;
}
.basket-list .basket-left .basket-img {
  width: 80px;
  height: 64px;
  background: #E6EAED;
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.basket-list .basket-right {
  display: grid;
  margin-left: 20px;
  grid-gap: 12px;
  width: 100%;
}
.basket-list .basket-right .text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--four-text-color);
}
.basket-list .basket-right .price-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-list .basket-right .price-quantity .price {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

.basket-list.add-btn {
  align-items: flex-start;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E3E8;
}
.basket-list.add-btn:last-child {
  border-bottom: none;
}
.add-btns-inner {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.basket-list.add-btn-block {
  flex-wrap: wrap;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E1E3E8;
}
.basket-list.add-btn-block:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.basket-list.add-btn-block .basket-right {
  width: calc(100% - 120px);
}
.basket-list.add-btn-block .add-btns-inner {
  margin-top: 16px;
}


/*  */

.big-image {
  position: relative;
  background-color: #F4F3F1;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  transition: .3s;
}
.big-image::before {
  content: "";
  display: block;
  padding-top: 65%;
}
.big-image .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60%;
  width: 80%;
}
.image-full-show .action {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 24px;
  display: flex;
  justify-content: center;
  z-index: 11;
}
.image-full-show .action a {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
.thumb-image {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  grid-gap: 12px;
  padding-bottom: 16px;
}
.thumb-image .img {
  flex: 0 0 100px;
  width: 100px;
  height: 82px;
  background: #F4F3F1;
  border-radius: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
}
.thumb-image .img.active {
  border: 1px solid rgba(154, 161, 180, 0.5);
}
.qr-code {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 243, 241, 0.8);
  z-index: 10;
}
.qr-code .qr-code-inner {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 48px 64px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
  background-color: white;
  max-width: 480px;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.sidebar.active {
  animation: flipRight .3s alternate ;
}
@keyframes flipRight {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}


.sidebar .sidebar-inner {
  position: relative;
  padding: 40px 32px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar .sidebar-inner .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .sidebar-inner .sidebar-body {
  position: relative;
}
.mobile-scroll {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1013;
}

.mobile-scroll-inner {
    overflow: hidden scroll;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.mobile-scroll-inner .scroll-close {
    height: 20vh;
    flex-shrink: 0;
    pointer-events: none;
}


.advantages {
  padding: 64px 0;
  background: #E6F3FC;
  border-radius: 20px;
  width: 90%;
  margin: auto;
}

/* Seller Page */
.seller-card {
  padding: 48px 64px;
  background: #F7F8FD;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px 0;
}
.seller-card-left {
  display: flex;
  align-items: center;
}
.seller-card-left .img-seller-card {
  background: #FFFFFF;
  box-shadow: 0px 1.06667px 6.4px rgba(5, 30, 71, 0.04);
  border-radius: 12px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.seller-card-left .text {
  width: calc(100% - 112px);
  margin-left: 32px;
  display: grid;
  grid-gap: 12px;
}

.seller-card-right .seller-rate {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  justify-content: flex-end;
  margin-bottom: 12px;
}
.seller-card-right .desc-seller {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: var(--third-text-color);
  width: 145px;
  margin-left: auto;
}

.tabs-seller .content-seller {
  margin-top: 32px;
}
.seller-comments-block .comment-list:first-child {
  padding-top: 0;
  border-top: unset;
  margin-bottom: 0;
}

.seller-contact-block .seller-address-list {
  margin-top: 24px;
}
.seller-contact-block .seller-address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E3E8;
}
.seller-contact-block .seller-address:first-child {
  border: unset;
  padding-bottom: 0;
  margin-bottom: 0;
}
.seller-contact-block .seller-address:last-child {
  border: unset;
  padding-bottom: 0;
}
.seller-contact-block .seller-address .left {
  width: 80%;
}
.seller-contact-block .seller-address .right {
  width: 20%;
}



/* Colors */
.primary-color {
  color: var(--primary-color)
}
.danger-color {
  color: var(--danger-color)
}
.green-color {
  color: var(--green-color)
}
.third-color {
  color: var(--third-text-color)
}

.font-24 {
  font-size: 24px;
}

.frst-time-modal {
  display: none;
}

.bckdrp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, rgba(2, 18, 43, 0.5) 0%, rgba(16, 26, 43, 0.5) 100%);
}
.bckdrp.show {
  display: block;
  opacity: 0.7;
}
.btn-order-apply {
  display: none;
}
.sale-percent {
  display: none;
}
.btn-ar {
  position: relative;
}
.btn-ar::after {
  content: "Примерить в комнате";
}

/* ------------------------ Всегда ниже всех стилей ------------------------ */

/* Margin top and bottom */
.mtb-0 {
    margin: 0px 0px;
    }
    .mtb-4 {
    margin: 4px 0px;
    }
    .mtb-8 {
    margin: 8px 0px;
    }
    .mtb-16 {
    margin: 16px 0px;
    }
    .mtb-24 {
    margin: 24px 0px;
    }
    .mtb-32 {
    margin: 32px 0px;
    }
    
    /* Margin top and bottom */
    .mtb-auto-0 {
    margin: 0px auto;
    }
    .mtb-auto-4 {
    margin: 4px auto;
    }
    .mtb-auto-8 {
    margin: 8px auto;
    }
    .mtb-auto-16 {
    margin: 16px auto;
    }
    .mtb-auto-24 {
    margin: 24px auto;
    }
    .mtb-auto-32 {
    margin: 32px auto;
    }
    /* Margin top and bottom */
    .mrl-0 {
    margin: 0px auto;
    }
    .mrl-4 {
    margin: 4px auto;
    }
    .mrl-8 {
    margin: 8px auto;
    }
    .mrl-16 {
    margin: 16px auto;
    }
    .mrl-24 {
    margin: 0 24px;
    }
    .mrl-32 {
    margin: 0 32px;
    }
    
    /* Margin Right */
    .mr-0 {
    margin-right: 0px;
    }
    .mr-4 {
    margin-right: 4px;
    }
    .mr-8 {
    margin-right: 8px;
    }
    .mr-16 {
    margin-right: 16px;
    }
    .mr-24 {
    margin-right: 24px;
    }
    .mr-32 {
    margin-right: 32px;
    }
    
    /* Margin Left */
    .ml-0 {
    margin-left: 0px;
    }
    .ml-4 {
    margin-left: 4px;
    }
    .ml-8 {
    margin-left: 8px;
    }
    .ml-16 {
    margin-left: 16px;
    }
    .ml-24 {
    margin-left: 24px;
    }
    .ml-32 {
    margin-left: 32px;
    }
    
    /* Margin Top */
    .mt-0 {
    margin-top: 0px;
    }
    .mt-4 {
    margin-top: 4px;
    }
    .mt-8 {
    margin-top: 8px;
    }
    .mt-16 {
    margin-top: 16px;
    }
    .mt-24 {
    margin-top: 24px;
    }
    .mt-32 {
    margin-top: 32px;
    }
    .mt-64 {
    margin-top: 64px;
    }
    
    /* Margin Bottom */
    .mb-0 {
    margin-bottom: 0px !important;
    }
    .mb-4 {
    margin-bottom: 4px;
    }
    .mb-8 {
    margin-bottom: 8px;
    }
    .mb-12 {
    margin-bottom: 12px;
    }
    .mb-16 {
    margin-bottom: 16px;
    }
    .mb-24 {
    margin-bottom: 24px;
    }
    .mb-32 {
    margin-bottom: 32px;
    }
    .mb-40 {
      margin-bottom: 40px;
    }
    .mb-64 {
    margin-bottom: 64px;
    }
    
    .p-0 {
    padding: 0px;
    }
    .p-4 {
    padding: 4px;
    }
    .p-8 {
    padding: 8px;
    }
    .p-16 {
    padding: 16px;
    }
    .p-24 {
    padding: 24px;
    }
    .p-32 {
    padding: 32px;
    }
    .p-64 {
    padding: 64px;
    }
    
    
    .ptb-0 {
    padding: 0px 0;
    }
    .ptb-4 {
    padding: 4px 0;
    }
    .ptb-8 {
    padding: 8px 0;
    }
    .ptb-16 {
    padding: 16px 0;
    }
    .ptb-24 {
    padding: 24px 0;
    }
    .ptb-32 {
    padding: 32px 0;
    }
    .ptb-64 {
    padding: 64px 0;
    }
    .ptb-128 {
    padding: 128px 0;
    }

    .pt-0 {
    padding-top: 0px;
    }
    .pt-4 {
    padding-top: 4px;
    }
    .pt-8 {
    padding-top: 8px;
    }
    .pt-16 {
    padding-top: 16px;
    }
    .pt-24 {
    padding-top: 24px;
    }
    .pt-32 {
    padding-top: 32px;
    }
    .pt-64 {
    padding-top: 64px;
    }
    .pt-128 {
    padding-top: 128px;
    }


    .pb-0 {
    padding-bottom: 0px;
    }
    .pb-4 {
    padding-bottom: 4px;
    }
    .pb-8 {
    padding-bottom: 8px;
    }
    .pb-16 {
    padding-bottom: 16px;
    }
    .pb-24 {
    padding-bottom: 24px;
    }
    .pb-32 {
    padding-bottom: 32px;
    }
    .pb-64 {
    padding-bottom: 64px;
    }
    .pb-128 {
    padding-bottom: 128px;
    }

    .pr-0 {
      padding-right: 0px;
      }
      .pr-4 {
      padding-right: 4px;
      }
      .pr-8 {
      padding-right: 8px;
      }
      .pr-16 {
      padding-right: 16px;
      }
      .pr-24 {
      padding-right: 24px;
      }
      .pr-32 {
      padding-right: 32px;
      }
      .pr-64 {
      padding-right: 64px;
      }
      .pr-128 {
      padding-right: 128px;
      }

    .prl-0 {
    padding: 0;
    }
    .prl-4 {
    padding: 0 4px;
    }
    .prl-8 {
    padding: 0 8px;
    }
    .prl-16 {
    padding: 0 16px;
    }
    .prl-24 {
    padding: 0 24px;
    }
    .prl-32 {
    padding: 0 32px;
    }
    .prl-64 {
    padding: 0 64px;
    }
    .prl-128 {
    padding: 0 128px;
    }


    .prl-side-0 {
      padding-left: 0;
      padding-right: 0;
    }
    .prl-side-4 {
    padding-left: 0;
    padding-right: 0;
    }
    .prl-side-8 {
    padding-left: 8px;
    padding-right: 8px;
    }
    .prl-side-16 {
    padding-left: 16px;
    padding-right: 16px;
    }
    .prl-side-24 {
    padding-left: 24px;
    padding-right: 24px;
    }
    .prl-side-32 {
    padding-left: 32px;
    padding-right: 32px;
    }
    .prl-side-64 {
    padding-left: 64px;
    padding-right: 64px;
    }
    .prl-side-128 {
    padding-left: 128px;
    padding-right: 128px;
    }