
@media (max-width: 767px) {
    body {
        
    }
    .mv-btn {
        display: inline-flex;
    }
    .dv-btn {
        display: none;
    }
    .btn-auto-link {
        font-size: 14px;
        font-weight: 500;
    }
    .logotype {
        margin: auto;
        display: flex;
        align-items: center;
    }
    .logotype svg {
        margin-right: 8px;
        width: 25px;
        height: 22px;
    }
    .logotype .logo-text {
        font-weight: 600;
        font-size: 17.7465px;
        line-height: 21px;
    }
    .header .header-menu {
        display: none;
    }
    .nav {
        display: none;
    }
    .footer {
        background: none;
        color: none;
        padding: unset;
        margin-bottom: 32px;
    }
    .copyright-footer {
        background: var(--primary-text-color);
        color: var(--white-color);
        padding: 24px 0;
        border-radius: 16px;
    }

    .breadcrumbs {
        flex-wrap: wrap;
    }
    .breadcrumbs .bc-l, .breadcrumbs .active {
        font-size: 12px;
    }
    .cart-basket .qty-basket {
        font-size: 8px;
        right: 0px;
        left: unset;
        top: -6px;
        line-height: 1;
        text-align: right;
        justify-content: flex-end;
        overflow: hidden;
        padding: 2px 4px;
    }
    .form-group {
        display: grid;
        grid-gap: 8px;
    }
    .form-group input {
        width: 100%;
    }
    
    
    .w-100-400 {
        height: 200px;
    }

    .banner {
        border-radius: 16px;
    }
    .banner .banner-text {
        padding: 24px 0 24px 24px;
        width: 60%;
    }
    .banner .banner-text h1 {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 8px;
    }
    .banner .banner-text p {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .banner .banner-img {
        width: 40%;
        clip-path: circle(70% at 90% 50%);
    }
    .banner .banner-img img {
        bottom: -8%;
        left: 25%;
        width: 120px;
    }
    .banner button {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        padding: 8px 12px;
        height: 36px;
    }
    .banner button svg {
        width: 20px !important;
        height: 20px;
    }

    

    .cat-list {
        display: grid;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 5%;
        grid-template-columns: repeat(auto-fill, 30%);
    }
    .cat-list .cat-tab img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
    .cat-list .cat-tab {
        grid-gap: 8px;
        width: 100%;
        height: 100px;
    }
    .cat-list .cat-tab .cat-text {
        font-size: 12px;
    }
    .cat-list .cat-tab .cat-text .cat-num {
        right: -24px;
        top: -10px;
    }

    main .grid-max {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        grid-template: none;
        overflow-x: auto;
    }
    .card {
        flex: 0 0 80%;
    }
    .card:hover {
        box-shadow: none;
    }
    .card .text-card .btn-action {
       display: none;
    }

    .popular-cats-list-block {
        display: flex;
        grid-template-areas: none;
        grid-gap: 12px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .popular-cats .popular-cats-img {
        flex: 0 0 80%;
        height: 200px;
        margin-top: 0 !important;
    }
    .popular-cats .popular-cats-img img {
        width: 100%;
        right: -100px;
    }
    .popular-cats .popular-cats-img .popular-cats-info {
        bottom: 16px;
        left: 16px;
        right: unset;
        top: unset;
    }
    .popular-cats .popular-cats-img .title-32, .popular-cats .popular-cats-img .h3-title  {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .popular-cats .popular-cats-img .subtitle-16 {
        font-size: 12px;
    }

    .advantages {
        padding: 32px 12px;
    }
    .advantages .subtitle-16 {
        margin-bottom: 32px;
    }
    .advantages .advant-info {
        margin-bottom: 24px;
    }
    .advantages .col-md-4:last-child .advant-info {
        margin-bottom: 0;
    }


    .search-room-block {
        display: flex;
        grid-template-areas: none;
        grid-gap: 12px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .search-room-block .popular-cats-img {
        flex: 0 0 80%;
        height: 200px;
    }

    .seller-block .h2-title.font-400 {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .seller-block {
        grid-template-areas:
            "a"
            "c"
            "b";
        grid-template-columns: 100%;
    }
    .sellers-banner::before {
        padding-top: 60%;
    }
    .sellers-banner .sellers-img {
        width: 100%;
        border-radius: 4px;
    }
    .sellers-list {
        margin-bottom: 16px;
    }
    .seller-text-btn .d-flex-align-center .btn-primary {
        width: 100%;
        margin-right: 0;
    }
    .seller-text-btn .d-flex-align-center .btn-secondary {
        display: none;
    }

    .page-wrapper .grid-max, .basket-order .grid-max {
        grid-template-columns: repeat(auto-fill, 49%);
        grid-gap: initial;
        margin-bottom: 64px;
    }
    
    .page-wrapper .grid-max .card, .basket-order .grid-max .card {
        flex: 0 0 100%;
    }
    .page-wrapper .grid-max .card .rate-review, .card:hover .image-card .actions .btn-3d, .basket-order .grid-max .card .rate-review {
        display: none;
    }
    .image-card .actions .favorite {
        top: 11px;
        right: 11px;
    }
    
    .card-same, .product-inner .card-same {
        flex: 0 0 33%;
    }
    
    
    .basket-order {
        padding-bottom: 0;
    }
    .side-order, .footer-order {
        position: relative;
    }
    .side-order .side-order-inner .action {
        position: relative;
        padding: 0;
        margin-top: 32px;
    }
    .order-status .d-flex-align-center {
        flex-wrap: wrap;
    }
    .footer-order {
        z-index: 99;
    }
    .footer-order .primary-price {
        font-weight: 700;
        font-size: 16px;
    }


    .product-grid-block {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "a"
        "b"
        "c";
        padding: 0;
    }



    .product-inner-info {
        padding-left: 0px;
        margin-bottom: 32px;
    }
    .product-inner-info .about-info h1 {
        font-weight: 500;
        font-size: 20px;
    }
    .product-inner-info .d-flex-al-center-space-between {
        align-items: flex-start;
    }
    .product-inner-info .mb-24 {
        margin-bottom: 16px;
    }
    .product-inner-info h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .product-inner-desc .h3-title {
        font-weight: 600;
    }
    .product-inner-desc .card-same, .product-inner .card-same {
        flex: 0 0 70%;
    }
    .card-same .btn {
        display: none;
    }
    .product-inner {
        margin-bottom: 32px;
    }
    .product-inner-desc .rate-review .star-votes svg, .product-inner-desc .comments-block .sv-24 .star-votes svg {
        width: 16px;
        height: 16px;
    }
    .product-inner-desc .rate-review {
        margin-bottom: 24px;
    }
    .product-inner-desc .rate-review .h2-title {
        margin: 0;
        font-size: 20px;
    }
    .product-inner-desc .rate-review .review-qty {
        font-size: 16px;
    }
    .comment-list:first-child {
        margin-top: 0;
        padding-top: 0;
        border: none;
        margin-bottom: 24px;
    }
    .comment-list {
        margin-top: 24px;
        padding-top: 24px;
    }
    .comment-list .subtitle-16.mb-12 {
        margin-bottom: 8px;
        margin-top: 16px;
    }
    .card-same .image-card .favorite svg {
        width: 24px;
        height: 24px;
    }
    .image-full-show {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
    }
    .big-image {
        width: 100%;
        flex: 0 0 90%;
    }
    .big-image::before {
        content: none;
    }
    .big-image .img {
        position: relative;
        height: 250px;
        background-size: contain;
    }
    .thumb-image {
        overflow-x: hidden;
        padding-bottom: 16px;
        flex: 0 0 90%;
    }
    .thumb-image .img.active {
        border: none;
    }
    .thumb-image .img {
        flex: 0 0 90%;
        width: 100%;
        height: 250px;
        background-size: 80%;
    }

    
    .page-404 .page-404-inner img {
        width: 128px;
        height: 128px;
        margin-bottom: 0px;
    }
    .page-404 .page-404-inner .h2-title {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .page-404 .page-404-inner .h2-title.mb-32 {
        margin-bottom: 24px;
    }


    
    .sidebar.active {
        position: relative;
        top: unset;
        right: unset;
    }
    .mobile-scroll {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 1013;
    }
    .mobile-scroll-inner {
        overflow: hidden scroll;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .mobile-scroll-inner .scroll-close {
        height: 20vh;
        flex-shrink: 0;
        pointer-events: none;
    }

    .seller-card {
        margin: 24px 0 32px;
        padding: 24px;
        flex-wrap: wrap;
    }
    .seller-card-left {
        margin-bottom: 16px;
    }
    .premium-active {
        flex-wrap: wrap;
        grid-gap: 8px;
    }
    .seller-card-left .text .h3-title, .seller-card-right .seller-rate .h2-title {
        font-size: 16px;
        font-weight: 500;
    }
    .seller-card-left .text .subtitle-16 {
        font-weight: 400;
        font-size: 12px;
    }
    .seller-card-left .text {
        width: calc(100% - 64px);
        margin-left: 16px;
        grid-gap: 8px;
    }
    .seller-card-left .img-seller-card {
        width: 48px;
        height: 48px;
    }
    .seller-card-right .seller-rate.sv-24 .star-votes svg {
        width: 20px;
        height: 20px;
    }
    .seller-card-right .seller-rate {
        grid-gap: 12px;
        justify-content: flex-start;
    }
    .seller-card-right .desc-seller {
        text-align: left;
        margin-left: 0;
        width: auto;
    }
    .tab-seller .tabs {
        grid-gap: 32px;
    }

    .seller-contact-block .seller-address {
        flex-wrap: wrap;
    }
    .seller-contact-block .seller-address .left, .seller-contact-block .seller-address .right {
        width: 100%;
    }
    .seller-contact-block .seller-address {
        grid-gap: 16px;
    }
    .seller-address-list.mv-btn {
        display: block;
    }
    .seller-contact-block .seller-address:first-child {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E1E3E8;
    }
    .seller-products-block .image-card .actions .favorite svg, .seller-products-block .image-card .actions .favorite {
        width: 18px;
        height: 18px;
    }
    .content-seller .thumb-image .img {
        flex: 0 0 30%;
        height: 82px;
    }

    /* EDITS */
    
    .sidebar.active {
        transform: none;
        animation: none;
        border-radius: 24px 24px 0px 0px;
    }
    #__next::-webkit-scrollbar {
        display: none;
    }
    #__next {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }

    @keyframes flipTop {
      from {
        transform: translateY(150%);
      }
      to {
        transform: translateY(0);
      }
    }
    .card-span {
        flex: 0 0 80%;
    }
    .btn-order-apply {
        display: inline-flex;
        position: fixed;
        bottom: 20px;
        width: calc(100% - 32px);
        left: 0;
        right: 0;
        margin: auto;
    }
    .basket-list .basket-left .basket-img {
        width: 70px;
        height: 54px;
    }
    .basket-list .basket-right .add-btns-inner .btn-secondary-hb {
        font-size: 10px;
    }
    .side-order .side-order-inner {
        padding: 0;
    }
    .sidebar.sidebar-order .sidebar-inner {
        padding: 24px 16px;
        border-radius: 24px 24px 0px 0px;
        background: #F7F8FD;
    }
    .card:hover .image-card .btn-3d {
        display: none;
    }
    .image-full-show .action {
        z-index: 1;
    }
    .frst-time-modal {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(5, 30, 71, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .frst-time-modal-inner {
        display: flex;
        align-items: center;
        max-width: 175px;
        text-align: center;
        z-index: 2;
        position: relative;
    }
    .frst-time-modal-inner h3 {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
    }
    .frst-time-modal-inner svg {
        color: white;
        position: absolute;
        right: -32px;
    }
    .footer-order .price {
        display: grid;
        position: relative;
    }
    .footer-order .sale-percent {
        display: block;
        font-weight: 400;
        font-size: 12px;
        color: green;
    }
}