body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
.logotype {
    margin: auto;
    display: flex;
    align-items: center;
}
.logotype svg {
    margin-right: 12px;
    width: 40px;
    height: 35px;
}
.logotype .logo-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: var(--primary-text-color);
}
/* .same-products {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fill, 150px);
} */
.same-products {
    width: max-content;
}
.same-products-inner {
    display: flex;
    grid-auto-flow: column;
    grid-gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-right: 20px;
}

.basket-order {
    position: relative;
}

.side-order {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    background-color: #F7F8FD;
    max-width: 480px;
    width: 100%;
    height: 100%;
}
.side-order .side-order-inner {
    position: relative;
    padding: 64px 32px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.side-order .side-order-inner .action {
    padding: 24px 32px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-order {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.02);
    z-index: 9999;
}

.product-inner {
    width: 100%;
}
.product-inner .card-same {
    flex: 0 0 23%;
}
.product-inner .same-products-inner {
    overflow: hidden;
    padding-right: 0;
}

.product-inner-info {
    padding-left: 16px;
    position: sticky;
    top: 32px;
}
.product-inner-info .about-info h1 {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-text-color)
}
.product-inner-info h2 {
    font-weight: 600;
    font-size: 28px;
    color: var(--primary-text-color)
}
.product-grid-block {
    display: grid;
    grid-template-columns: 66.66666667% 33.33333333%;
    grid-template-areas: 
    "a b"
    "c b";
}
.product-grid-block .col-grid-1 {
 grid-area: a;
}
.product-grid-block .col-grid-2 {
 grid-area: b;
}
.product-grid-block .col-grid-3 {
 grid-area: c;
}
.product-grid-block .col-grid-1, .product-grid-block .col-grid-2, .product-grid-block .col-grid-3 {
    padding-right: 16px;
    padding-left: 16px;
}

.popular-cats-list-block {
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a c"
    "d e f"
    "d e f";
    grid-gap: 12px 24px;
}
.popular-cats .popular-cats-img:nth-child(1) {grid-area: a;}
.popular-cats .popular-cats-img:nth-child(2) {grid-area: b;}
.popular-cats .popular-cats-img:nth-child(3) {grid-area: c;}
.popular-cats .popular-cats-img:nth-child(4) {grid-area: d; margin-top: 20px;}
.popular-cats .popular-cats-img:nth-child(5) {grid-area: e; margin-top: 20px;}
.popular-cats .popular-cats-img:nth-child(6) {grid-area: f; margin-top: 20px;}

.popular-cats-img {
    position: relative;
    overflow: hidden;
    background: #E6EAED;
    border-radius: 8px;
}
.popular-cats-img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -300px;
    object-fit: contain;
}
.popular-cats-img .popular-cats-info {
    position: absolute;
    bottom: 32px;
    left: 32px;
    text-align: left;
}
.popular-cats-img.bl-20 .popular-cats-info {
    bottom: 20px;
    left: 20px;
}
.popular-cats-img.bl-20 img {
    top: 0;
    bottom: 20px;
    right: -10px;
    left: unset;
}
.popular-cats-img.tl-20 .popular-cats-info {
    top: 20px;
    bottom: unset;
    left: 20px;
}
.popular-cats-img.tl-20 img {
    top: 0;
    bottom: 20px;
    right: -90px;
    left: unset;
}
.popular-cats-img.tl-32 .popular-cats-info {
    top: 32px;
    bottom: unset;
    left: 32px;
}
.popular-cats-img.tl-32 img {
    top: unset;
    bottom: 0;
    right: 0;
    left: unset;
}


.h-400 {
    height: 400px;
}
.h-194 {
    height: 194px;
}


.advant-info {
    display: flex;
    align-items: flex-start;
}
.advant-info svg {
    color: var(--primary-text-color);
}
.advant-info .advant-text {
    margin-left: 16px;
    width: calc(100% - 32px);
}
.advant-info .advant-text h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 183%;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}
.advant-info .advant-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--primary-text-color);
}

.search-room-block {
    display: grid;
    grid-template-areas: 
    "a a b"
    "c d d";
    grid-gap: 32px 20px;
}
.search-room .popular-cats-img {
    width: 100%;
}
.search-room .popular-cats-img:nth-child(1) {grid-area: a;}
.search-room .popular-cats-img:nth-child(2) {grid-area: b;}
.search-room .popular-cats-img:nth-child(3) {grid-area: c;}
.search-room .popular-cats-img:nth-child(4) {grid-area: d;}

.search-room .popular-cats-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: unset;
    right: unset;
}
.search-room .popular-cats-img .popular-cats-info {
    bottom: 24px;
    left: 24px;
}
.search-room .popular-cats-img .popular-cats-info h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #F7F8FD;
    margin-bottom: 0;
}


.cart-basket {
    position: relative;
    width: 32px;
    height: 32px;
}
.cart-basket .qty-basket {
    padding: 4px 8px;
    position: absolute;
    left: 24px;
    top: -13px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    background: #9AA1B4;
    border-radius: 11px;
}

.seller-block {
    display: grid;
    align-items: center;
    grid-template-areas: 
    "a c"
    "b c";
    grid-template-columns: 50% 50%;
}
.title-popular {
    grid-area: a;
    align-self: end;
}
.seller-text-btn {
    grid-area: b;
    align-self: start;
}
.sellers-banner {
    grid-area: c;
}
.sellers-list {
    padding-top: 16px;
    margin-bottom: 48px;
}
.sellers-list .sellers-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.sellers-list .sellers-item:last-child {
    margin-bottom: 0;
}
.sellers-list .sellers-item .sellers-icon {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(5, 30, 71, 0.08);
    border-radius: 8px;
}
.sellers-list .sellers-item .sellers-icon svg {
    width: 32px;
    height: 32px;
}
.sellers-list .sellers-item .sellers-text {
    margin-left: 16px;
    width: calc(100% - 104px);
}
.sellers-list .sellers-item .sellers-text p {
    line-height: 183%;
}


.sellers-banner {
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  .sellers-banner::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .sellers-banner .sellers-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 80%;
    border-radius: 2px;
  }